html {
  background-color: var(--c-bg);
  overflow-x: hidden;
}

:root {
  --c-bg: #fff;
}

html.dark {
  --c-bg: #000;
}

/* 001 Vue3-typed-ts reset css */
.typed-cursor{
  opacity: 1;
  animation: typedjsBlink 1.4s infinite steps(1, end) !important;
  margin-left: -8px;
}
@keyframes typedjsBlink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
